#pageHeader {
    background-color: #330000;
    color: #f1f1f1;
    text-align: center;
}

#fullScreenPhoto {
   background-color: #330000;
   color: white;
   text-align: center;
}

#languageWebsite {
    background: linear-gradient(to bottom, #330000 19%, #f12029 95%);
    color: #f1f1f1;
    text-align: center;
}

#languageApps {
    background-color: #f1f1f1;
    color: #12f212;
    text-align: center;
}

#languageTools {
    background-color: #f12029;
    color: #f1f1f1;
    text-align: center;
}

#pageFooter {
    background-color: black;
    color: #12f212;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}

p{
   font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px;
}

.logo{
    width: 60px;
}

