#pageHeader {
    background-color: #330000;
    color: #f1f1f1;
    text-align: center;
}

#fullScreenPhoto {
   /* background-image: url("/images/background.jpg"); */
   background-color: #330000;
   color: white;
   text-align: center;
}

#languageWebsite {
    background-color: black;
    color: #f1f1f1;
    text-align: center;
}

#languageApps {
    background-color: #f1f1f1;
    color: #12f212;
    text-align: center;
}

#languageTools {
    background-color: #330000;
    color: #f1f1f1;
    text-align: center;
}

#pageFooter {
    background-color: black;
    color: #12f212;
    text-align: center;
}

img {
    /* min-width: 100%; REMOVE THIS */
    max-width: 100%;
    height: auto;
}

